# ICRISAT Data Set Preprocessing

In [1]:
import pandas as pd

# Read CSV file of icrisat into a DataFrame
df_icrisat = pd.read_csv('https://raw.githubusercontent.com/Cropdata5320/CropData_Visualizations/main/ICRISAT-District%20Level%20Data.csv')
print(df_icrisat.columns)
df_icrisat.head()
print(df_icrisat.shape)

Index(['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name',
       'RICE AREA (1000 ha)', 'RICE PRODUCTION (1000 tons)',
       'RICE YIELD (Kg per ha)', 'WHEAT AREA (1000 ha)',
       'WHEAT PRODUCTION (1000 tons)', 'WHEAT YIELD (Kg per ha)',
       'KHARIF SORGHUM AREA (1000 ha)',
       'KHARIF SORGHUM PRODUCTION (1000 tons)',
       'KHARIF SORGHUM YIELD (Kg per ha)', 'RABI SORGHUM AREA (1000 ha)',
       'RABI SORGHUM PRODUCTION (1000 tons)', 'RABI SORGHUM YIELD (Kg per ha)',
       'SORGHUM AREA (1000 ha)', 'SORGHUM PRODUCTION (1000 tons)',
       'SORGHUM YIELD (Kg per ha)', 'PEARL MILLET AREA (1000 ha)',
       'PEARL MILLET PRODUCTION (1000 tons)', 'PEARL MILLET YIELD (Kg per ha)',
       'MAIZE AREA (1000 ha)', 'MAIZE PRODUCTION (1000 tons)',
       'MAIZE YIELD (Kg per ha)', 'FINGER MILLET AREA (1000 ha)',
       'FINGER MILLET PRODUCTION (1000 tons)',
       'FINGER MILLET YIELD (Kg per ha)', 'BARLEY AREA (1000 ha)',
       'BARLEY PRODUCTION (1000 tons)', 'BARLEY YIELD (Kg per ha)',
       'CHICKPEA AREA (1000 ha)', 'CHICKPEA PRODUCTION (1000 tons)',
       'CHICKPEA YIELD (Kg per ha)', 'PIGEONPEA AREA (1000 ha)',
       'PIGEONPEA PRODUCTION (1000 tons)', 'PIGEONPEA YIELD (Kg per ha)',
       'MINOR PULSES AREA (1000 ha)', 'MINOR PULSES PRODUCTION (1000 tons)',
       'MINOR PULSES YIELD (Kg per ha)', 'GROUNDNUT AREA (1000 ha)',
       'GROUNDNUT PRODUCTION (1000 tons)', 'GROUNDNUT YIELD (Kg per ha)',
       'SESAMUM AREA (1000 ha)', 'SESAMUM PRODUCTION (1000 tons)',
       'SESAMUM YIELD (Kg per ha)', 'RAPESEED AND MUSTARD AREA (1000 ha)',
       'RAPESEED AND MUSTARD PRODUCTION (1000 tons)',
       'RAPESEED AND MUSTARD YIELD (Kg per ha)', 'SAFFLOWER AREA (1000 ha)',
       'SAFFLOWER PRODUCTION (1000 tons)', 'SAFFLOWER YIELD (Kg per ha)',
       'CASTOR AREA (1000 ha)', 'CASTOR PRODUCTION (1000 tons)',
       'CASTOR YIELD (Kg per ha)', 'LINSEED AREA (1000 ha)',
       'LINSEED PRODUCTION (1000 tons)', 'LINSEED YIELD (Kg per ha)',
       'SUNFLOWER AREA (1000 ha)', 'SUNFLOWER PRODUCTION (1000 tons)',
       'SUNFLOWER YIELD (Kg per ha)', 'SOYABEAN AREA (1000 ha)',
       'SOYABEAN PRODUCTION (1000 tons)', 'SOYABEAN YIELD (Kg per ha)',
       'OILSEEDS AREA (1000 ha)', 'OILSEEDS PRODUCTION (1000 tons)',
       'OILSEEDS YIELD (Kg per ha)', 'SUGARCANE AREA (1000 ha)',
       'SUGARCANE PRODUCTION (1000 tons)', 'SUGARCANE YIELD (Kg per ha)',
       'COTTON AREA (1000 ha)', 'COTTON PRODUCTION (1000 tons)',
       'COTTON YIELD (Kg per ha)', 'FRUITS AREA (1000 ha)',
       'VEGETABLES AREA (1000 ha)', 'FRUITS AND VEGETABLES AREA (1000 ha)',
       'POTATOES AREA (1000 ha)', 'ONION AREA (1000 ha)',
       'FODDER AREA (1000 ha)'],
      dtype='object')
(16146, 80)

In [2]:
df_icrisat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16146 entries, 0 to 16145
Data columns (total 80 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Dist Code                                    16146 non-null  int64
 1   Year                                         16146 non-null  int64
 2   State Code                                   16146 non-null  int64
 3   State Name                                   16146 non-null  object
 4   Dist Name                                    16146 non-null  object
 5   RICE AREA (1000 ha)                          16146 non-null  float64
 6   RICE PRODUCTION (1000 tons)                  16146 non-null  float64
 7   RICE YIELD (Kg per ha)                       16146 non-null  float64
 8   WHEAT AREA (1000 ha)                         16146 non-null  float64
 9   WHEAT PRODUCTION (1000 tons)                 16146 non-null  float64
 10  WHEAT YIELD (Kg per ha)                      16146 non-null  float64
 11  KHARIF SORGHUM AREA (1000 ha)                16146 non-null  float64
 12  KHARIF SORGHUM PRODUCTION (1000 tons)        16146 non-null  float64
 13  KHARIF SORGHUM YIELD (Kg per ha)             16146 non-null  float64
 14  RABI SORGHUM AREA (1000 ha)                  16146 non-null  float64
 15  RABI SORGHUM PRODUCTION (1000 tons)          16146 non-null  float64
 16  RABI SORGHUM YIELD (Kg per ha)               16146 non-null  float64
 17  SORGHUM AREA (1000 ha)                       16146 non-null  float64
 18  SORGHUM PRODUCTION (1000 tons)               16146 non-null  float64
 19  SORGHUM YIELD (Kg per ha)                    16146 non-null  float64
 20  PEARL MILLET AREA (1000 ha)                  16146 non-null  float64
 21  PEARL MILLET PRODUCTION (1000 tons)          16146 non-null  float64
 22  PEARL MILLET YIELD (Kg per ha)               16146 non-null  float64
 23  MAIZE AREA (1000 ha)                         16146 non-null  float64
 24  MAIZE PRODUCTION (1000 tons)                 16146 non-null  float64
 25  MAIZE YIELD (Kg per ha)                      16146 non-null  float64
 26  FINGER MILLET AREA (1000 ha)                 16146 non-null  float64
 27  FINGER MILLET PRODUCTION (1000 tons)         16146 non-null  float64
 28  FINGER MILLET YIELD (Kg per ha)              16146 non-null  float64
 29  BARLEY AREA (1000 ha)                        16146 non-null  float64
 30  BARLEY PRODUCTION (1000 tons)                16146 non-null  float64
 31  BARLEY YIELD (Kg per ha)                     16146 non-null  float64
 32  CHICKPEA AREA (1000 ha)                      16146 non-null  float64
 33  CHICKPEA PRODUCTION (1000 tons)              16146 non-null  float64
 34  CHICKPEA YIELD (Kg per ha)                   16146 non-null  float64
 35  PIGEONPEA AREA (1000 ha)                     16146 non-null  float64
 36  PIGEONPEA PRODUCTION (1000 tons)             16146 non-null  float64
 37  PIGEONPEA YIELD (Kg per ha)                  16146 non-null  float64
 38  MINOR PULSES AREA (1000 ha)                  16146 non-null  float64
 39  MINOR PULSES PRODUCTION (1000 tons)          16146 non-null  float64
 40  MINOR PULSES YIELD (Kg per ha)               16146 non-null  float64
 41  GROUNDNUT AREA (1000 ha)                     16146 non-null  float64
 42  GROUNDNUT PRODUCTION (1000 tons)             16146 non-null  float64
 43  GROUNDNUT YIELD (Kg per ha)                  16146 non-null  float64
 44  SESAMUM AREA (1000 ha)                       16146 non-null  float64
 45  SESAMUM PRODUCTION (1000 tons)               16146 non-null  float64
 46  SESAMUM YIELD (Kg per ha)                    16146 non-null  float64
 47  RAPESEED AND MUSTARD AREA (1000 ha)          16146 non-null  float64
 48  RAPESEED AND MUSTARD PRODUCTION (1000 tons)  16146 non-null  float64
 49  RAPESEED AND MUSTARD YIELD (Kg per ha)       16146 non-null  float64
 50  SAFFLOWER AREA (1000 ha)                     16146 non-null  float64
 51  SAFFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 52  SAFFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 53  CASTOR AREA (1000 ha)                        16146 non-null  float64
 54  CASTOR PRODUCTION (1000 tons)                16146 non-null  float64
 55  CASTOR YIELD (Kg per ha)                     16146 non-null  float64
 56  LINSEED AREA (1000 ha)                       16146 non-null  float64
 57  LINSEED PRODUCTION (1000 tons)               16146 non-null  float64
 58  LINSEED YIELD (Kg per ha)                    16146 non-null  float64
 59  SUNFLOWER AREA (1000 ha)                     16146 non-null  float64
 60  SUNFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 61  SUNFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 62  SOYABEAN AREA (1000 ha)                      16146 non-null  float64
 63  SOYABEAN PRODUCTION (1000 tons)              16146 non-null  float64
 64  SOYABEAN YIELD (Kg per ha)                   16146 non-null  float64
 65  OILSEEDS AREA (1000 ha)                      16146 non-null  float64
 66  OILSEEDS PRODUCTION (1000 tons)              16146 non-null  float64
 67  OILSEEDS YIELD (Kg per ha)                   16146 non-null  float64
 68  SUGARCANE AREA (1000 ha)                     16146 non-null  float64
 69  SUGARCANE PRODUCTION (1000 tons)             16146 non-null  float64
 70  SUGARCANE YIELD (Kg per ha)                  16146 non-null  float64
 71  COTTON AREA (1000 ha)                        16146 non-null  float64
 72  COTTON PRODUCTION (1000 tons)                16146 non-null  float64
 73  COTTON YIELD (Kg per ha)                     16146 non-null  float64
 74  FRUITS AREA (1000 ha)                        16146 non-null  float64
 75  VEGETABLES AREA (1000 ha)                    16146 non-null  float64
 76  FRUITS AND VEGETABLES AREA (1000 ha)         16146 non-null  float64
 77  POTATOES AREA (1000 ha)                      16146 non-null  float64
 78  ONION AREA (1000 ha)                         16146 non-null  float64
 79  FODDER AREA (1000 ha)                        16146 non-null  float64
dtypes: float64(75), int64(3), object(2)
memory usage: 9.9+ MB

In [3]:
# Check for null values in each column
print("Null values in each column:")
df_icrisat.isnull().sum()

Null values in each column:

Dist Code                               0
Year                                    0
State Code                              0
State Name                              0
Dist Name                               0
                                       ..
VEGETABLES AREA (1000 ha)               0
FRUITS AND VEGETABLES AREA (1000 ha)    0
POTATOES AREA (1000 ha)                 0
ONION AREA (1000 ha)                    0
FODDER AREA (1000 ha)                   0
Length: 80, dtype: int64

In [4]:
# Remove rows with null values
df_icrisat = df_icrisat.dropna()
df_icrisat.isnull().sum()

Dist Code                               0
Year                                    0
State Code                              0
State Name                              0
Dist Name                               0
                                       ..
VEGETABLES AREA (1000 ha)               0
FRUITS AND VEGETABLES AREA (1000 ha)    0
POTATOES AREA (1000 ha)                 0
ONION AREA (1000 ha)                    0
FODDER AREA (1000 ha)                   0
Length: 80, dtype: int64

In [5]:
# Write DataFrame back to a CSV file
df_icrisat.to_csv('ICRISAT_cleaned.csv', index=False)

# Food_prices Data set Preprocessing

In [6]:
df_food_prices = pd.read_csv('https://raw.githubusercontent.com/Cropdata5320/CropData_Visualizations/main/wfp_food_prices_ind.csv', dtype={'date': str})
print(df_food_prices.columns)
df_food_prices.head()

Index(['date', 'admin1', 'admin2', 'market', 'latitude', 'longitude',
       'category', 'commodity', 'unit', 'priceflag', 'pricetype', 'currency',
       'price', 'usdprice'],
      dtype='object')

<ipython-input-6-fc0d73a34f4c>:1: DtypeWarning: Columns (4,5,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_food_prices = pd.read_csv('https://raw.githubusercontent.com/Cropdata5320/CropData_Visualizations/main/wfp_food_prices_ind.csv', dtype={'date': str})

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,Retail,INR,8.0,0.255
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,Retail,INR,5.0,0.1594
3,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,Retail,INR,13.5,0.4303
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,Retail,INR,6.8,0.2167

In [7]:
df_food_prices.info()
print(df_food_prices.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151810 entries, 0 to 151809
Data columns (total 14 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       151810 non-null  object
 1   admin1     151285 non-null  object
 2   admin2     151285 non-null  object
 3   market     151810 non-null  object
 4   latitude   151285 non-null  object
 5   longitude  151285 non-null  object
 6   category   151810 non-null  object
 7   commodity  151810 non-null  object
 8   unit       151810 non-null  object
 9   priceflag  151810 non-null  object
 10  pricetype  151810 non-null  object
 11  currency   151810 non-null  object
 12  price      151810 non-null  object
 13  usdprice   151810 non-null  object
dtypes: object(14)
memory usage: 16.2+ MB
(151810, 14)

In [8]:
# Drop the first row
df_food_prices = df_food_prices.drop(index=0)
print(df_food_prices.columns)
df_food_prices.head()

Index(['date', 'admin1', 'admin2', 'market', 'latitude', 'longitude',
       'category', 'commodity', 'unit', 'priceflag', 'pricetype', 'currency',
       'price', 'usdprice'],
      dtype='object')

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
1,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,Retail,INR,8.0,0.255
2,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,Retail,INR,5.0,0.1594
3,1994-01-15,Delhi,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,Retail,INR,13.5,0.4303
4,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,Retail,INR,6.8,0.2167
5,1994-01-15,Gujarat,Ahmadabad,Ahmedabad,23.033333,72.616667,cereals and tubers,Wheat,KG,actual,Retail,INR,6.2,0.1976

In [9]:
# Rename the column 'admin1' to 'state' and 'admin2' to 'city'
df_food_prices = df_food_prices.rename(columns={'admin1': 'state', 'admin2': 'city'})

# Remove 'market' & 'pricetype' columns
df_food_prices = df_food_prices.drop(columns=['market', 'pricetype']).reset_index(drop=True)

df_food_prices.columns

Index(['date', 'state', 'city', 'latitude', 'longitude', 'category',
       'commodity', 'unit', 'priceflag', 'currency', 'price', 'usdprice'],
      dtype='object')

In [10]:
# Convert the date column to datetime format
df_food_prices['date'] = pd.to_datetime(df_food_prices['date'], format='%Y-%m-%d', errors='coerce')

# Extract the year from the datetime column and add it as a new column beside the date column
df_food_prices.insert(df_food_prices.columns.get_loc('date') + 1, 'Year', df_food_prices['date'].dt.year)

df_food_prices.head()

,date,Year,state,city,latitude,longitude,category,commodity,unit,priceflag,currency,price,usdprice
0,1994-01-15,1994,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Rice,KG,actual,INR,8.0,0.255
1,1994-01-15,1994,Delhi,Delhi,28.666667,77.216667,cereals and tubers,Wheat,KG,actual,INR,5.0,0.1594
2,1994-01-15,1994,Delhi,Delhi,28.666667,77.216667,miscellaneous food,Sugar,KG,actual,INR,13.5,0.4303
3,1994-01-15,1994,Gujarat,Ahmadabad,23.033333,72.616667,cereals and tubers,Rice,KG,actual,INR,6.8,0.2167
4,1994-01-15,1994,Gujarat,Ahmadabad,23.033333,72.616667,cereals and tubers,Wheat,KG,actual,INR,6.2,0.1976

In [11]:
# Check for null values in each column
print("Null values in each column:")
df_food_prices.isnull().sum()

Null values in each column:

date           0
Year           0
state        525
city         525
latitude     525
longitude    525
category       0
commodity      0
unit           0
priceflag      0
currency       0
price          0
usdprice       0
dtype: int64

In [12]:
# Remove rows with null values
df_food_prices = df_food_prices.dropna()
df_food_prices.isnull().sum()

date         0
Year         0
state        0
city         0
latitude     0
longitude    0
category     0
commodity    0
unit         0
priceflag    0
currency     0
price        0
usdprice     0
dtype: int64

In [13]:
# Save the DataFrame to a new CSV file
df_food_prices.to_csv('Food_Prices_cleaned.csv', index=False)
df_food_prices.info()

<class 'pandas.core.frame.DataFrame'>
Index: 151284 entries, 0 to 151808
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       151284 non-null  datetime64[ns]
 1   Year       151284 non-null  int32
 2   state      151284 non-null  object
 3   city       151284 non-null  object
 4   latitude   151284 non-null  object
 5   longitude  151284 non-null  object
 6   category   151284 non-null  object
 7   commodity  151284 non-null  object
 8   unit       151284 non-null  object
 9   priceflag  151284 non-null  object
 10  currency   151284 non-null  object
 11  price      151284 non-null  object
 12  usdprice   151284 non-null  object
dtypes: datetime64[ns](1), int32(1), object(11)
memory usage: 15.6+ MB

# Temperature Data set Preprocessing

In [14]:
# Read CSV file of icrisat into a DataFrame
df_temperature = pd.read_csv('https://raw.githubusercontent.com/Cropdata5320/CropData_Visualizations/main/temperature.csv')
print(df_temperature.columns)
df_temperature.head()

Index(['YEAR', 'ANNUAL', 'JAN-FEB', 'MAR-MAY', 'JUN-SEP', 'OCT-DEC'], dtype='object')

   YEAR  ANNUAL  JAN-FEB  MAR-MAY  JUN-SEP  OCT-DEC
0  1961   24.00    18.98    26.11    27.06    21.17
1  1962   24.04    18.91    25.91    27.14    21.47
2  1963   24.15    19.07    25.57    27.21    22.04
3  1964   24.10    18.83    26.38    26.90    21.58
4  1965   24.07    19.22    25.24    27.08    22.10

In [15]:
# Check for null values in each column
print("Null values in each column:")
df_temperature.isnull().sum()

Null values in each column:

YEAR       0
ANNUAL     0
JAN-FEB    0
MAR-MAY    0
JUN-SEP    0
OCT-DEC    0
dtype: int64

In [16]:
df_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     58 non-null     int64
 1   ANNUAL   58 non-null     float64
 2   JAN-FEB  58 non-null     float64
 3   MAR-MAY  58 non-null     float64
 4   JUN-SEP  58 non-null     float64
 5   OCT-DEC  58 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 2.8 KB

# Rainfall Data set Preprocessing

In [17]:
import pandas as pd

# Read CSV file of icrisat into a DataFrame
df_rainfall = pd.read_csv('https://raw.githubusercontent.com/Cropdata5320/CropData_Visualizations/main/rainfall.csv')
print(df_rainfall.columns)
df_rainfall.head()

Index(['YEAR', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP',
       'OCT', 'NOV', 'DEC', 'ANN', 'Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'],
      dtype='object')

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,122.2,21.7,10.4,1399.2,60.9,132.1,1052.0,154.2
1,1962,12.6,21.6,16.0,43.6,70.8,137.1,281.6,276.9,211.0,78.4,18.3,29.9,1198.0,34.3,130.4,906.6,126.7
2,1963,6.8,9.8,41.7,50.6,60.9,168.0,258.6,316.7,164.9,99.1,28.4,15.5,1220.9,16.6,153.1,908.2,142.9
3,1964,18.6,14.1,19.0,40.0,52.1,177.2,345.7,273.7,200.4,67.4,22.8,13.3,1244.4,32.7,111.1,997.0,103.5
4,1965,11.8,28.1,26.7,45.1,52.7,116.1,270.1,192.8,129.5,34.0,18.2,22.2,947.4,39.9,124.6,708.5,74.4

In [18]:
# Check for null values in each column
print("Null values in each column:")
df_rainfall.isnull().sum()

Null values in each column:

YEAR       0
JAN        0
FEB        0
MAR        0
APR        0
MAY        0
JUN        0
JUL        0
AUG        0
SEP        0
OCT        0
NOV        0
DEC        0
ANN        0
Jan-Feb    0
Mar-May    0
Jun-Sep    0
Oct-Dec    0
dtype: int64

In [19]:
df_rainfall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     58 non-null     int64
 1   JAN      58 non-null     float64
 2   FEB      58 non-null     float64
 3   MAR      58 non-null     float64
 4   APR      58 non-null     float64
 5   MAY      58 non-null     float64
 6   JUN      58 non-null     float64
 7   JUL      58 non-null     float64
 8   AUG      58 non-null     float64
 9   SEP      58 non-null     float64
 10  OCT      58 non-null     float64
 11  NOV      58 non-null     float64
 12  DEC      58 non-null     float64
 13  ANN      58 non-null     float64
 14  Jan-Feb  58 non-null     float64
 15  Mar-May  58 non-null     float64
 16  Jun-Sep  58 non-null     float64
 17  Oct-Dec  58 non-null     float64
dtypes: float64(17), int64(1)
memory usage: 8.3 KB

# Shape of each Data set

In [20]:
print("Shape of ICRISAT Data set :", df_icrisat.shape)
print("Shape of Food Prices Data set :", df_food_prices.shape)
print("Shape of Temperature Data set :", df_temperature.shape)
print("Shape of Rainfall Data set :", df_rainfall.shape)

Shape of ICRISAT Data set : (16146, 80)
Shape of Food Prices Data set : (151284, 13)
Shape of Temperature Data set : (58, 6)
Shape of Rainfall Data set : (58, 18)